/* This stylesheet is supposed to beautify the documentation of
 * resource descriptors (using rd.xslt) a bit.
 */

p.schemadef {
	position: fixed;
	top: 0px;
	right: 0px;
	background: #DDAAAA;
}


table.recorddef {
	border:1px solid black;
	border-collapse:collapse;
}

.oddRow td{
	background: #DDDDDD;
}

th {
	padding-top:6px;
	padding-bottom:6px;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}

.implements td {
	background: #DDBBBB;
}

.recorddef * td {
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	padding-right:4px;
	margin:0px;
	border-collapse:collapse;
	border-spacing=0px;
	empty-cells:show;
}

