<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:n="http://nevow.com/ns/nevow/0.1">
<head n:render="commonhead">
	<title n:render="meta">title</title>
	<script type="text/javascript">//<![CDATA[
		function watchKey(ev) {
			if (ev.which==13 && ev.ctrlKey) {
				ev.stopPropagation();
				if (ev.cancelable) {
					ev.preventDefault();
				}
				document.getElementById("genForm-action-submit").click();
			}
		}
		if (document.addEventListener) {
			// the keydown lets us swallow mozilla's textbox events.  Other browsers?
			document.addEventListener("keydown", watchKey, true);
		}
	//]]></script>
</head>

<body n:render="withsidebar">
	<h1 n:render="meta">title</h1>

	<div class="querypars" n:data="queryseq" n:render="ifdata">
		<h2><a href="#_queryForm">Parameters</a></h2>
		<ul n:render="sequence">
			<li n:pattern="item" n:render="parpair"/>
		</ul>
	</div>

	<div class="result" n:render="ifdata" n:data="result">
		<h2>Result</h2>
		<div class="resmeta" n:data="resultmeta" n:render="mapping">
			<p>Matched: <n:slot name="itemsMatched"/></p>
		</div>
		<div class="result" n:render="ifresult">
			<n:invisible n:render="resulttable"/>
		</div>
		<div class="warning" n:render="ifnoresult">
			<p n:render="metahtml">_noresultwarning</p>
		</div>
		<h2><a name="_queryForm">Query Form</a></h2>
	</div>

	<div id="intro" n:render="metahtml" class="intro">_intro</div>
	<n:invisible n:render="form genForm"/>
	<div id="bottominfo" n:render="metahtml">_bottominfo</div>
	<div class="copyright" n:render="metahtml">copyright</div>
</body>
</html>

