<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:n="http://nevow.com/ns/nevow/0.1" 
		xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Specview</title>
		<n:invisible n:render="commonhead"/>
	</head>
	<body>
	<object 
			classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
			codetype="application/java-vm"
    	width="800" 
    	height="600">
    <param name= "code" value="spv.SpecviewApplet.class"/>
    <param name= "codebase" value="http://specview.stsci.edu/applet"/>
    <param name= "archive" value="specview_app.jar"/>
    <param name= "type" value="application/x-java-applet;version=1.6"/>
    <param name= "scriptable" value="false"/>
    <param name= "name">
    	<n:attr name="value" n:render="data" n:data="parameter source"/>
    </param>
  </object>

	<p><a href="http://www.stsci.edu/resources/software_hardware/specview"
		>Specview</a> is a product of the Space Telescope Science 
		Institute, which is operated by AURA for NASA.
		Its source code is available under a BSD-style licence from
		<a href="http://sourceforge.net/projects/specview/">its 
		sourceforge page</a></p>
	<p>If you see all kinds of security warnings, see
		<a href="http://www.stsci.edu/resources/software_hardware/specview/applet_demo"
		>STScI's explanations</a> on them.</p>
	</body>
</html>

