<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:n="http://nevow.com/ns/nevow/0.1">
  <head>
    <title n:render="title"/>
		<n:invisible n:render="commonhead"/>
  </head>
	<body n:render="withsidebar">
		<h1 n:render="title"/>
		<h2 class="section">General</h2>
		<p>This table is <strong n:render="ifnodata" n:data="forADQL">not</strong>
			available for <strong>ADQL</strong> queries.</p>
		<h2 class="section">Fields</h2>
		<table n:render="tableOfFields" n:data="fields"/>

		<h2 class="section">Further information</h2>
		<div id="siblings" n:render="ifdata" n:data="otherServices">
			<p>The following services <em>may</em> use the data contained in this
				table:</p>
			<ul n:render="sequence">
				<li n:render="mapping" n:pattern="item">
					<a><n:attr name="href"><n:slot name="infoURL"/></n:attr>
						<n:slot name="title"/></a>
				</li>
			</ul>
		</div>
		<p><strong>Copyright and such:</strong> 
			<n:invisible n:render="tablemeta">copyright</n:invisible></p>
	</body>
</html>

