Source: python-gavoutils
Maintainer: Markus Demleitner <gavo@ari.uni-heidelberg.de>
Section: python
Priority: optional
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), debhelper (>= 5.0.37.2), cdbs (>= 0.4.43), python-all-dev (>= 2.3.5-11), python-support (>= 0.3.2)
Standards-Version: 3.7.3.0
Homepage: http://vo.ari.uni-heidelberg.de/docs/DaCHS

Package: python-gavoutils
Architecture: all
Depends: ${shlibs:Depends}, ${python:Depends}, python-pyparsing, python-numpy, python, python-pkg-resources, python-pyfits
Provides: ${python:Provides}
Description: VO support packages
 .
 Somewhat incoherent collection of helper functions and classes used by
 various GAVO libraries.

