Source: gavodachs
Maintainer: Markus Demleitner <msdemlei@ari.uni-heidelberg.de>
Section: python
Priority: optional
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), debhelper (>= 5.0.37.2), cdbs (>= 0.4.43), python-all-dev (>= 2.3.5-11), python-support (>= 0.3.2), quilt, patchutils (>= 0.2.25), cdbs (>= 0.4.27)
Standards-Version: 3.7.3.0
Homepage: http://vo.ari.uni-heidelberg.de/docs/DaCHS

Package: gavodachs
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, postgresql (>=8.1), python-pyparsing, python-pyfits, python-psycopg2, python-nevow, python-twisted, python-soappy, python-imaging, python-zsi, python-numpy, python, python-pkg-resources
Recommends: postgesql-client, libpq-dev
Provides: ${python:Provides}
Description: VO datacenter publishing suite.
 .
 DaCHS is an infrastructure for publishing astronomical data to the
 Virtual Observatory.

