/* CSS for tree-menu style root pages */

input#textsearch {
	width: 12em;
	height: 0.9em;
}

dl.resrec {
	margin-left: 2em;
}

#mainbox {
	overflow: hidden;
	display: block;
	color: navy;
	background-color: #EAEBEE;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	min-height:70ex;
}

.arrow-e,
.arrow-s {
	border-style: dashed;
	border-color: transparent;
	border-width: 0.53em;
	display: inline-block;
	font-size: 10px;
	height: 0pt;
	line-height: 0pt;
	position: relative;
	vertical-align: middle;
	width: 0pt;
}

.arrow-e {
	border-left-width: 1em;
	border-left-style: solid;
	border-left-color: navy;
	left: 0.25em;
}
                    
.arrow-s {
	border-top-width: 1em;
	border-top-style: solid;
	border-top-color: navy;
	top: 0.25em;
}

ul.servicelist {
	list-style-type: none;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

.servicelist li {
	margin-top: 0.75ex;
}

.servicelist li a {
	text-decoration: none;
}
