body {
 	font-family: Arial, Verdana, Helvetica, sans-serif;
	background: #FFFFFF;
	color: #042E74;
	font-size: 11pt;
}

th {
	vertical-align: top;
}

p {
	max-width: 400px;
}

p.attribution {
	max-width:100%;
	width:100%;
	text-align:right;
}

.wide {
	max-width: 100%;
}

ul {
	max-width: 400px;
}

code {
	background: #EEEEEE;
}

pre {
	background: #EEEEEE;
}

form.sortArrow {
	text-align:center;
}

button.transparent {
	background: white;
	display:inline;
	border-style:None;
}

.silentlink {
	border-style:None;
}

div#querysel {
	position:absolute;
	top: 0%;
	right: 0%;
	background: #FFFFFF;
	padding-right:5px;
	padding-left:5px;
}

p.description {
	font-size: 120%;
	font-weight: bold;
	background: #EEDDDD;
}

div.clabel {
	font-weight: bold;
	background: white;
	width: 250px;
	display: table-cell;
	vertical-align:top;
}

div.legend {
	padding: 2px;
	display: table-cell;
	vertical-align: bottom;
	font-size:80%;
	text-align:right;
}

div.quwidget {
	display: table-row;
	vertical-align:top;
}

div.condition {
	padding: 10px;
	display: table-row;
}

form.querulator {
	border: 1px dotted black;
	background: #EEEEFF;
	padding:3px;
}

div.legal {
	padding-top: 10px;
	font-size: 72%;
	max-width: 400px;
}

table.results {
	background: white;
}

.results tr td {
	padding-left: 2px;
	padding-right: 2px;
}

.resultMeta {
	background: #EEEEFF;
}

.fieldlegend * {
	font-size:62%;
}

.invisible { /* for items for non-css browsers */
	width: 0px;
	height: 0px;
	position: absolute;
	top: -100px;
}

div#header, div#chdr {
	background: #899dbf;
	margin-bottom: 34px;
	width: 100%;
}

div#chdr {
	position: absolute;
}

h1, h2, h3, h4, h5 { color: #666; }
h1 { 
	font-size: 17pt;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #042E74;
	background: #F0F4FF;
	line-height:2em
}

h2 { font-size: 14pt; font-weight: bold;}
h3 { font-size: 12pt; font-weight: bold;}
h4 { font-size: 12pt; background: #F0F4FF;} 
h5 { font-size: 11pt; font-style: italic; }

h4.metacat {
	font-size: 10pt; 
	background: none;
}

#header h1 {
	display: inline;
	color: white;
	font-family: Helvetica,Arial;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 1px;
	white-space: nowrap;
	position: absolute;
	background:none;
	left:245px;
	top:20px;
	overflow:hidden;
}

#chdr h1 {
	display: inline;
	color: white;
	font-family: Helvetica,Arial;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 1px;
	white-space: nowrap;
	position: absolute;
	background:none;
	left:125px;
	bottom: -28px;
	overflow:hidden;
}

table.results {
	empty-cells: show;
	border-style: none;
	border-spacing: 0px;
}

.results th {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 0px 0px 0px 0px
}

.results td {
	padding-left: 4px;
	padding-right: 40px;
	border-collapse: collapse;
	border:2px solid white;
}

tr.even {
	padding-top:4px;
	padding-bottom:4px;
	background: #EEEEFF;
}

div#sidebar {
	float: left;
	width: 100px;
	height: 100%;
	background: #d2dcf0;
}

.sidebaritem * {
max-width:100px;
}

div#body {
	margin-left: 110px;
	min-width: 200px;
	position: absolute;
}

.sidebaritem {
	margin-bottom:5px;
	position: relative;
	z-index:10;
}

.metaEnum {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
	font-size: 10px;
}

/* defuse breakage with rst insisting on a p element around meta items */
.sidebarEnum li p {
 margin: 4px;
}

.explodable {
	height: 12px;
	overflow: hidden;
	background: #d2dcf0;
  margin-bottom:5px;
}

h4.exploHead {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background: none;
	cursor: pointer;
}

.sidebaritem h3 {
	font-size: 14px;
	margin-top:7px;
	margin-bottom:5px;
	background: #F0F4FF;
}

div.explodable h4 {
	padding: 0px;
	margin: 0px;
}

div.copyright {
	background-color: #cccccc;
	padding: 5px;
	margin-top: 5px;
}

div.intro {
	margin-bottom: 15px;
	max-width: 400px;
}

textarea { /* fix silly nevow formal css */
  width: auto !important;
  height: auto !important;
}

hr.scoreBar {
	height: 10px;
	background-color: #44bb66;
	margin-left: 0px;
	text-align: left;
}

.srvDesc {
	font-size: 72%;
}

table.shorttable {
	border-spacing: 0px;
	border-collapse: collapse;
	border-bottom: 1px solid grey;
}

.shorttable * th {
	border: 1px solid grey;
	padding-top:6px;
	padding-bottom:6px;
	padding-left: 4px;
	padding-right: 4px;
}

.shorttable * td {
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	padding: 4px
}
	
