Source: python-gavostc
Maintainer: Markus Demleitner <gavo@ari.uni-heidelberg.de>
Section: python
Priority: optional
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), debhelper (>= 5.0.37.2), cdbs (>= 0.4.43), python-all-dev (>= 2.3.5-11), python-support (>= 0.3.2), quilt, patchutils (>= 0.2.25), cdbs (>= 0.4.27)
Standards-Version: 3.7.3.0
Homepage: http://vo.ari.uni-heidelberg.de/docs/DaCHS

Package: python-gavostc
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, python-pyparsing, python-numpy, python, python-pkg-resources, python-gavoutils
Conflicts: gavodachs
Provides: ${python:Provides}
Description: IVOA STC library
 .
 A library to handle space-time information within the Virtual Observatory
 according to the IVOA STC recommendation.

