<!-- This is a script to enable the use of q3c (if installed) on
the standard positions (as defined in positionsfields.template).

To use this, put

	<!ENTITY q3cscript SYSTEM "q3cscript">
	<!ENTITY q3ctable "XXX">

into your internal subset, replace XXX by the table you want indexed and write
&q3cscript; above the closing tag of your resource descriptor.

-->

CREATE INDEX q3c_&q3ctable;_idx ON &q3ctable; (q3c_ang2ipix(ra, dec))
CLUSTER q3c_&q3ctable;_idx ON &q3ctable;
ANALYZE &q3ctable;
